<!DOCTYPE html>
<html>
<head>
    <title>MediaPipe Flask</title>
    <script src="https://cdn.socket.io/socket.io-3.1.3.min.js"></script>
    <style>
        #webcam {
            border: 2px solid black;
            margin-bottom: 10px;
        }
        #output_frame {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1>MediaPipe Flask App</h1>

    <!-- Video element for displaying webcam stream -->
    <video id="webcam" autoplay playsinline width="640" height="480" style="display:block;"></video>

    <!-- Image element for displaying processed frame -->
    <img id="output_frame" src="">

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            console.log('Websocket connected!');
        });
        socket.on('processed_frame', function(data) {
            // Display processed frame
            document.getElementById('output_frame').src = 'data:image/jpeg;base64,' + data;
        });
    </script>
    <script src="{{ url_for('static', filename='js/client.js') }}"></script>
</body>
</html>
